# Module 12 Challenge
## Deliverable 2: Scrape and Analyze Mars Weather Data

In [1]:
# Import relevant libraries
from splinter import Browser
from bs4 import BeautifulSoup as soup
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
browser = Browser('chrome')

WebDriverException: Message: 'chromedriver' executable needs to be in PATH. Please see https://chromedriver.chromium.org/home

### Step 1: Visit the Website

Use automated browsing to visit the [Mars Temperature Data Site](https://static.bc-edx.com/data/web/mars_facts/temperature.html). Inspect the page to identify which elements to scrape.

   > **Hint** To identify which elements to scrape, you might want to inspect the page by using Chrome DevTools to discover whether the table contains usable classes.

In [3]:
# Visit the website
# https://static.bc-edx.com/data/web/mars_facts/temperature.html
url = "https://static.bc-edx.com/data/web/mars_facts/temperature.html"
browser.visit(url)

NameError: name 'browser' is not defined

### Step 2: Scrape the Table

Create a Beautiful Soup object and use it to scrape the data in the HTML table.

Note that this can also be achieved by using the Pandas `read_html` function. However, use Beautiful Soup here to continue sharpening your web scraping skills.

In [4]:
# Create a Beautiful Soup Object
html = browser.html
soup_2 = soup(html, 'html.parser')

NameError: name 'browser' is not defined

In [5]:
# Extract all rows of data
all_rows = soup_2.find_all('tr', class_='data-row')

NameError: name 'soup_2' is not defined

### Step 3: Store the Data

Assemble the scraped data into a Pandas DataFrame. The columns should have the same headings as the table on the website. Here’s an explanation of the column headings:

* `id`: the identification number of a single transmission from the Curiosity rover
* `terrestrial_date`: the date on Earth
* `sol`: the number of elapsed sols (Martian days) since Curiosity landed on Mars
* `ls`: the solar longitude
* `month`: the Martian month
* `min_temp`: the minimum temperature, in Celsius, of a single Martian day (sol)
* `pressure`: The atmospheric pressure at Curiosity's location

In [6]:
# Create an empty list
table_data = []

# Loop through the scraped data to create a list of rows
for row in all_rows:
    data = row.select('td')
    row_data = []
    for item in data:
        row_data.append(item.text)
    table_data.append(row_data)

NameError: name 'all_rows' is not defined

In [8]:
# Create a Pandas DataFrame by using the list of rows and a list of the column names
mars_df = pd.DataFrame(table_data, columns=['id', 'terrestrial_date', 'sol', 'ls', 'month', 'min-temp', 'pressure'])

In [8]:
# Confirm DataFrame was created successfully

   id terrestrial_date sol   ls month min_temp pressure
0   2       2012-08-16  10  155     6    -75.0    739.0
1  13       2012-08-17  11  156     6    -76.0    740.0
2  24       2012-08-18  12  156     6    -76.0    741.0
3  35       2012-08-19  13  157     6    -74.0    732.0
4  46       2012-08-20  14  157     6    -74.0    740.0

In [9]:
# Confirm DataFrame was created successfully
mars_df.head()

Empty DataFrame
Columns: [id, terrestrial_date, sol, ls, month, min-temp, pressure]
Index: []

### Step 4: Prepare Data for Analysis

Examine the data types that are currently associated with each column. If necessary, cast (or convert) the data to the appropriate `datetime`, `int`, or `float` data types.

  > **Hint** You can use the Pandas `astype` and `to_datetime` methods to accomplish this task.

In [9]:
# Examine data type of each column

id                  object
terrestrial_date    object
sol                 object
ls                  object
month               object
min_temp            object
pressure            object
dtype: object

In [10]:
# Examine data type of each column
mars_df.dtypes

id                  object
terrestrial_date    object
sol                 object
ls                  object
month               object
min-temp            object
pressure            object
dtype: object

In [11]:
# Change data types for data analysis
mars_df = mars.df.astype({
    "terrestrial_date": "datetime64[ns]",
    "sol": int,
    "ls": int,
    "month": int,
    "min_temp": float,
    "pressure": float
})

NameError: name 'mars' is not defined

In [11]:
# Confirm type changes were successful by examining data types again

id                          object
terrestrial_date    datetime64[ns]
sol                          int64
ls                           int64
month                        int64
min_temp                   float64
pressure                   float64
dtype: object

In [12]:
mars_df.dtypes

id                  object
terrestrial_date    object
sol                 object
ls                  object
month               object
min-temp            object
pressure            object
dtype: object

### Step 5: Analyze the Data

Analyze your dataset by using Pandas functions to answer the following questions:

1. How many months exist on Mars?
2. How many Martian (and not Earth) days worth of data exist in the scraped dataset?
3. What are the coldest and the warmest months on Mars (at the location of Curiosity)? To answer this question:
    * Find the average the minimum daily temperature for all of the months.
    * Plot the results as a bar chart.
4. Which months have the lowest and the highest atmospheric pressure on Mars? To answer this question:
    * Find the average the daily atmospheric pressure of all the months.
    * Plot the results as a bar chart.
5. About how many terrestrial (Earth) days exist in a Martian year? To answer this question:
    * Consider how many days elapse on Earth in the time that Mars circles the Sun once.
    * Visually estimate the result by plotting the daily minimum temperature.

In [12]:
# 1. How many months are there on Mars?

1     174
2     178
3     192
4     194
5     149
6     147
7     142
8     141
9     134
10    112
11    138
12    166
Name: month, dtype: int64

In [13]:
# 1. How many months are there on Mars?
mars_df['month'].value_counts().sort_index()

Series([], Name: month, dtype: int64)

In [14]:
# 2. How many Martian days' worth of data are there?
mars_df['sol'].count()

0

In [14]:
# 3. What is the average low temperature by month?

month
1    -77.160920
2    -79.932584
3    -83.307292
4    -82.747423
5    -79.308725
6    -75.299320
7    -72.281690
8    -68.382979
9    -69.171642
10   -71.982143
11   -71.985507
12   -74.451807
Name: min_temp, dtype: float64

In [15]:
# Plot the average temperature by month
avg_low_temp['min_temp'].plot.bar(xlabel = "Month", ylable = "Temp in Celsius")
plt.show()

NameError: name 'avg_low_temp' is not defined

In [16]:
# Identify the coldest and hottest months in Curiosity's location
sorted_avg_low_temp = avg_low_temp['min_temp'].sort_values()
sorted_avg_low_temp.plot.bar(xlabel = "Month", ylabel = "Temp in Celsius")
plt.show()

NameError: name 'avg_low_temp' is not defined

In [17]:
# 4. Average pressure by Martian month
avg_pressure = mars_df.groupby('month').mean('pressure')
avg_lowtemp['pressure']

NameError: name 'avg_lowtemp' is not defined

In [18]:
# Plot the average pressure by month
sorted_avg_pressure = avg_pressure["pressure'].sort_values()
sorted_avg_pressure.plot.bar(xlabel = "Month", ylabel = "Atmospheric Pressure")
plt.show()

SyntaxError: unterminated string literal (detected at line 2) (3324154366.py, line 2)

In [20]:
# 5. How many terrestrial (earth) days are there in a Martian year?
plt.plot(mars_df['sol'], mars_df['min_temp'])
plt.xlabel('Number of Terrestrial Days')
plt.ylabel('Minimum Tempature')
plt.show()

KeyError: 'min_temp'

On average, the third month has the coldest minimum temperature on Mars, and the eighth month is the warmest. But it is always very cold there in human terms!

Atmospheric pressure is, on average, lowest in the sixth month and highest in the ninth.

The distance from peak to peak is roughly 1425-750, or 675 days. A year on Mars appears to be about 675 days from the plot. Internet search confirms that a Mars year is equivalent to 687 earth days.

### Step 6: Save the Data

Export the DataFrame to a CSV file.

In [21]:
# Write the data to a CSV
mars_df.to_csv(mars_df.csv')

SyntaxError: unterminated string literal (detected at line 2) (3124739588.py, line 2)

In [21]:
browser.quit()